{% if order_by != column or ordering != 'asc' %}
<a href="?order_by={{column}}&amp;ordering=asc">
	<i class="fa fa-sort-alpha-asc"></i><span class="sr-only">Sortowanie alfabetyczne</span>
</a>
{% else %}
<i class="fa fa-sort-alpha-asc"></i><span class="sr-only">Sortowanie alfabetyczne</span>
{% endif %}

{% if order_by != column or ordering != 'desc' %}
<a href="?order_by={{column}}&amp;ordering=desc">
	<i class="fa fa-sort-alpha-desc"></i><span class="sr-only">Sortowanie odwrotnie alfabetyczne</span>
</a>
{% else %}
<i class="fa fa-sort-alpha-desc"></i><span class="sr-only">Sortowanie odwrotnie alfabetyczne</span>
{% endif %}
