{% extends 'petition/base.html' %}
{% load crispy_forms_tags webdesign %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="widget">
            <div class="widget-title">
                Lista podpisów
            </div>
            {% if petitions|length >= 2 %}
            {% for p in petitions %}
            {{p}}(<a href="{{p.get_absolute_url}}">Treść</a>, <a href="{% url 'petition:list' slug=p.slug%}"> {{p.signature_count}} podpisów</a>)
            {% endfor %}
            {% endif %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Imię i nazwisko</th>
                        <th>Miejscowość{% include 'petition/_links_sort.html' with column='city'%}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object.name }}</td>
                        <td>{{ object.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if page_obj.has_previous or page_obj.has_next %}

            <ul class="pager">
                {% if page_obj.has_previous %}
                <li class="previous">
                    <a href="?order_by={{order_by}}&ordering={{ordering}}&page={{page.previous_page_number}}"><span aria-hidden="true">&larr;</span> Poprzednie</a></a>
                </li>
                {% endif %}
                <li>{{page_obj.number}} z {{page_obj.paginator.num_pages}}</li>
                {% if page_obj.has_next %}
                <li class="next">
                    <a href="?order_by={{order_by}}&ordering={{ordering}}&page={{page_obj.next_page_number}}">Kolejne <span aria-hidden="true">&rarr;</span></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="widget">
            <div class="text-center counter-number">{{count}}</div>
            <div class="text-center">podpisów</div>
        </div>
        <div class="widget">
            {{petition.read_text | safe}}
        </div>
    </div>
</div>
{% endblock %}
