{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{config.META_DESCRIPTION}}">
    <meta property="og:description" content="{{config.META_DESCRIPTION}}" />
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% static 'img/facebook.jpg'%}" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:site_name" content="{{config.PAGE_NAME}}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% endblock %}

    <title>{{config.PAGE_NAME}}</title>

</head>

<body>
    <div class="body">
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-md-6 col-md-push-2"><a href="http://www.faoo.pl/"><img src="http://www.faoo.pl/img/logo.png" alt=""></a></div>
                    <div class="col-md-4 col-md-push-1"><a href="/" class="header-title">{{config.PAGE_NAME}}</a></div>
                </div>
            </div>
            <div class="main-menu">
                <ul>
                    <li class="item-home"><a href="/"><i class="fa fa-home"></i> <span class="visible-xs-inline visible-sm-inline">Strona główna</span></a></li>
                    <li class="item-petition"><a href="{% url 'petition:list'%}">Podpisali się</a></li>
                    <li class="item-contact"><a href="{% url 'contact:form' %}">Kontakt</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="row">
                    {% block content %}
                    <p>Use this document as a way to quick start any new project.</p>
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    {% include '_footer.html' %}

    {% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>
