{% extends 'petition/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="widget">
            {{object.text_top | safe}}
        </div>
        <div class="widget">
            {{object.text_bottom | safe}}
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="widget">
            <div class="text-center counter-number">{{object.signature_count}}</div>
            <div class="text-center counter-desc">podpisów</div>
        </div>
        <div class="widget">
            {{object.text | safe}}
        </div>
    </div>
</div>
{% endblock %}

