{% extends 'contact/base.html' %}
{% load crispy_forms_tags tinycontent_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="widget">
            {% tinycontent 'contact:text' %}
            <h1 clas="widget-title">O nas</h1>
            Jesteśmy OK.
            {% endtinycontent %}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="widget">
            <h1 clas="widget-title">Skontaktuj się z nami</h1>
            {% block form %}
            <div id="reqNote">Pola oznaczone gwiazdką (*) są wymagane</div>
            {% crispy form %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
